body{
        
    background: #0c192c;
                    
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}    
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(90s/var(--i));
}
.bubbles span:nth-child(even){
    
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    
}
@keyframes animate{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}
input[type=text]{
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}
input[type=text]:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
table{
    position: relative;
    background: #fafafa;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;    
    border-radius: 0 12px 0 12px ;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(32,32,32,.3);
 }
tbody tr:hover{
    background-color: #ffff99;
    
}

th,td{
    padding: 0px 5px;
}
th{
    padding: 10px 5px;
    background: #ba68c8;        
}



.tmargin{
    width: 100px;
}    
.add{
    color: #15f4ee;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: 1.5s;
    background: #0c192c;
    letter-spacing: 2px;
    border: 5px solid #15f4ee;
    width: fit-content;
}
.add:hover{
    box-shadow: 0 0px 10px #15f4ee inset, 0 0px 10px 0 #15f4ee,
    0 0px 0px #15f4ee inset, 0 0px 0px 0 #15f4ee;
}
.select{
    color: #15f4ee;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    background: #0c192c;
    letter-spacing: 2px;
    border: 5px solid #15f4ee;
    width: 150px;

}
.check{
margin: auto;
background: #0c7777;
padding: 30px;
width: fit-content;
border-radius: 10px;
opacity: .9;
}